:targets:
  - :name:          # insert name
    :type:          redshift
    :host:          # insert host
    :database:      # insert database name (default: snowplow)
    :port:          # insert database port (default: 5439)
    :username:      # insert Redshift user name (default: datamodeling)
    :password:      # insert Redshift user password
:variables:
    :input_schema:   # insert schema name (default: atomic)
    :scratch_schema: # insert schema name (default: scratch)
    :output_schema:  # insert schema name (default: derived)
    :update_cadence: # insert time period (must be a valid Redshift INTERVAL, eg 1 week)
:steps:
  - :name: 00-setup-users
    :queries:
      - :name: 00-setup-users
        :file: incremental-web-model/03-users/00-setup-users.sql
        :template: true
  - :name: 01-select-session-ids
    :queries:
      - :name: 01-select-session-ids
        :file: incremental-web-model/03-users/01-select-session-ids.sql
        :template: true
  - :name: 02-users
    :queries:
      - :name: 02-users
        :file: incremental-web-model/03-users/02-users.sql
        :template: true
  - :name: 03-delete-users
    :queries:
      - :name: 03-delete-users
        :file: incremental-web-model/03-users/03-delete-users.sql
        :template: true
  - :name: 04-append-users
    :queries:
      - :name: 04-append-users
        :file: incremental-web-model/03-users/04-append-users.sql
        :template: true
  - :name: 05-populate-users-manifest
    :queries:
      - :name: 05-populate-users-manifest
        :file: incremental-web-model/03-users/05-populate-users-manifest.sql
        :template: true
  - :name: 06-cleanup
    :queries:
      - :name: 06-cleanup
        :file: incremental-web-model/03-users/06-cleanup.sql
        :template: true
  - :name: 07-vacuum
    :queries:
      - :name: 07-vacuum
        :file: incremental-web-model/03-users/07-vacuum.sql
        :template: true
  - :name: 08-analyze
    :queries:
      - :name: 08-analyze
        :file: incremental-web-model/03-users/08-analyze.sql
        :template: true
