:targets:
- :name:          # insert name
  :type:          redshift
  :host:          # insert host
  :database:      # insert database name (default: snowplow)
  :port:          # insert database port (default: 5439)
  :username:      # insert Redshift user name (default: datamodeling)
  :password:      # insert Redshift user password
:variables:
  :input_schema:  # insert schema name (default: atomic)
  :output_schema: # insert schema name (default: derived)
  :start_date:    # insert start date (must be a valid Redshift DATE, eg 2018-01-01)
:steps:
  - :name: 01-setup-sessions-manifest
    :queries:
      - :name: 01-setup-sessions-manifest
        :file: incremental-web-model/00-setup/01-setup-sessions-manifest.sql
        :template: true
